<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<title>Success</title>
<body class="bg-gray-800 text-white flex items-center justify-center min-h-screen p-6 font-sans">
    <div class="relative text-center p-10 bg-gradient-to-br from-gray-900 to-gray-700 rounded-lg shadow-2xl w-full max-w-md transition-all duration-300 transform hover:scale-105">
        <h1 class="relative text-5xl font-extrabold">Transaction Successful!</h1>
        <p class="relative mt-4 text-lg text-gray-300">Thank you for your subscription. Your transaction was completed successfully.</p>
        <div class="mt-8">
            <button type="button" class="relative inline-flex items-center justify-center px-6 py-3 text-white font-semibold text-lg transition-colors duration-300 transform bg-gradient-to-r from-cyan-500 to-blue-500 rounded-lg shadow-lg hover:bg-gradient-to-l from-blue-500 to-cyan-500 focus:outline-none">
                <a href="/orders/">Go to Orders page</a>
            </button>
        </div>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
    }
</style>